# Python
__pycache__/
.venv/

# Local secrets
.env
/docs/dev/

# Logs and run state
docs/logs.txt
docs/reminders.txt
docs/attribute_list.txt
docs/attribute_list.xlsx
src/f1/pipeline/.last_run.json

# Local caches
cache/
fastf1/
catboost_info/

# Generated datasets and model outputs
/data/raw_backup
notebooks/testing.ipynb
src/f1/predictions/model_pre_qual.cbm
src/f1/predictions/model_pre_race.cbm
artifacts/
